
\.idea/workspace\.xml

src/main/resources/META-INF/create-schema\.ddl

src/main/resources/META-INF/drop-schema\.ddl

target/classes/META-INF/create-schema\.ddl

target/classes/META-INF/drop-schema\.ddl
