<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/vendor/jquery/reg.js"></script>
<!--Include the above in your HEAD tag -->
<div th:replace="head :: copy"></div>
<div th:replace="navBar :: copy"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12"><br/><br/>
            <legend>Company Registration Step 2:</legend>
        </div>
        <!-- panel preview -->
        <div class="col-sm-5">
            <h4>Select your package:</h4>
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">



                    <!-- select your package -->
                    <div class="form-group" align="center">
                        <select th:for="package" th:id="package" class="js-select2" name="service">
                            <option> Standard </option>
                            <option> Ultimate </option>
                        </select>
                    </div>
                    <!-- end package -->


                    <!-- add comment -->
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Comment: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="description" name="description"/>
                        </div>
                    </div>
                    <!-- end comment -->



                   <!-- amount (need if statement for the packages) -->
                    <div class="form-group">
                        <label for="date" class="col-sm-3 control-label">Amount:</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="date" name="amount"/>
                        </div>
                    </div>
                    <!-- end amount -->

                    <!-- add button -->
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-default preview-add-button">
                                <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </div>
                    </div>
                    <!-- end add button -->


                </div>
            </div>



        </div> <!-- / panel preview -->
        <form action="/companyIndex" method="GET">
        <div class="col-sm-7">
            <h4>Preview:</h4>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table preview-table">
                            <thead>
                            <tr>
                                <th>Package</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody></tbody> <!-- preview content goes here-->
                        </table>
                    </div>
                </div>
            </div>
            <div class="row text-right">
                <div class="col-xs-12">
                    <h4>Total: <strong><span class="preview-total"></span></strong></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <hr style="border:1px dashed #dddddd;"/>
                    <input type="submit" class="btn btn-primary btn-block">Submit all and finish</input>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<div th:replace="footer :: copy"></div>
</html>