#oneAdv {
    border-radius: 60px;
    border: 0.5rem outset grey;
    background-color: rgb(232, 236, 239);
    text-align: center;
}

.newAdv1 {
    height: 40px;
    width: 300px;
}

.newAdv2 {
    height: 40px;
    width: 250px;
}

.newAdv3 {
    height: 40px;
    width: 177px;
}

.newAdv4 {
    height: 40px;
    width: 250px;
}

.select1 {
    height: 40px;
    width: 300px;

}
.select2 {
    height: 40px;
    width: 270px;

}