<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--===============================================================================================-->
<link rel="icon" type="image/png" href="/ContactFrom_v5/images/icons/favicon.ico"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/bootstrap/css/bootstrap.min.css"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/ContactFrom_v5/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/ContactFrom_v5/fonts/iconic/css/material-design-iconic-font.min.css"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/animate/animate.css"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/css-hamburgers/hamburgers.min.css"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/animsition/css/animsition.min.css"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/select2/select2.min.css"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/daterangepicker/daterangepicker.css"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/noui/nouislider.min.css"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/ContactFrom_v5/css/util.css"/>
<link rel="stylesheet" type="text/css" href="/ContactFrom_v5/css/main.css"/>
<!--===============================================================================================-->


<head th:replace="head :: copy"></head>

    <body>
    <div th:replace="emptyNavbar :: copy"></div>




    <div class="container-contact100">
        <div class="wrap-contact100">
            <form action="/make-advertisement" method="post">
				<span class="contact100-form-title">
					Create your advertisement
				</span>


                <!-- Enter your advertisment title -->
                <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                    <span class="label-input100">ADVERTISEMENT TITLE *</span>
                    <label th:for="title" ></label>
                    <input th:name="title" th:required="required" class="input100" type="text" name="name" placeholder="Enter Your Advertisement Title"/>
                </div>
                <!--
                <div class="form-group">
                    <label th:for="title" >Title</label>
                    <input size="5" th:name="title" th:required="required" type="text" class="newAdv1" id="title" placeholder="Title"/>
                    <small class="form-text text-muted">please add a clever title to your advertisement.</small>
                </div>
                -->







                <!-- description -->
                <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate = "Please Type Your Message">
                    <span class="label-input100">Description * </span>
                    <label th:for="description" ></label>
                    <input th:name="description" th:required="required" class="input100" name="message" placeholder="Your Description here..."></input>
                </div>
                <!--
                <div class="form-group">
                    <label th:for="description" >Description</label>
                    <input th:name="description" th:required="required" type="text" class="newAdv2" id="description" placeholder="Description"/>
                </div>
                -->








                <!-- choose your field -->
                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                    <span class="label-input100">Select your field *</span>
                    <div th:object="${fields}">
                        <label th:for="fields"></label>
                        <select th:id="field" class="js-select2" name="field">
                            <option th:each="field : ${fields}"
                                    th:value="${field.name}"
                                    th:text="${field.name}"></option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>
                <!--
                <div class="form-group" th:object="${fields}">
                    <label th:for="fields">Field</label>
                    <select class="select1" th:id="field" name="field">
                        <option th:each="field : ${fields}"
                            th:value="${field.name}"
                            th:text="${field.name}"></option>
                    </select>
                </div>
                -->









                <!-- choose your location -->
                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                    <span class="label-input100">Select your Location *</span>
                    <div th:object="${cities}">
                        <label th:for="cities">Location</label>
                        <select th:id="city" class="js-select2" name="city">
                            <option th:each="city : ${cities}"
                                    th:value="${city.name}"
                                    th:text="${city.name}"></option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>
                <!--
                <div class="form-group" th:object="${cities}">
                    <label th:for="cities">Location</label>
                    <select class="select2" th:id="city" name="city">
                        <option th:each="city : ${cities}"
                                th:value="${city.name}"
                                th:text="${city.name}"></option>
                    </select>
                </div>
                -->





                <!-- choose your capacity -->
                <div class="wrap-input100 bg1 rs1-wrap-input100">
                    <span class="label-input100">Capacity (hour/week)</span>
                    <label th:for="weeklyCapacity"></label>
                    <input th:required="required" type="number" max="50" class="newAdv3" th:name="weeklyCapacity" th:id="weeklyCapacity" placeholder="Weekly capacity"/>
                </div>
                <!--
                <div class="form-group">
                    <label th:for="weeklyCapacity">Capacity (hour/week) </label>
                    <input th:required="required" type="number" max="50" class="newAdv3" th:name="weeklyCapacity" th:id="weeklyCapacity" placeholder="Weekly capacity"/>
                </div>
                -->




                <!-- choose salary -->
                <div class="wrap-input100 bg1 rs1-wrap-input100">
                    <span class="label-input100">Salary/hour</span>
                    <label th:for="requestedMoney"></label>
                    <input th:required="required" min="600" type="number" th:name="requestedMoney" class="newAdv4" th:id="requestedMoney" placeholder="Salary"/>
                </div>
                <!-- end choose salary
                <div class="form-group">
                    <label th:for="requestedMoney">Salary/hour </label>
                    <input th:required="required" min="600" type="number" th:name="requestedMoney" class="newAdv4" th:id="requestedMoney" placeholder="Salary"/>
                </div>
                -->


        <input type="submit" class="btn btn-info center-block" value="Submit"/><p></p>
        </form>
        </div>
    </div>
        <div th:replace="footer :: copy"></div>
    </body>
</html>