<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: copy"></head>

    <body>
    <div th:replace="navBar :: copy"></div>

            <h3 align="center" >Create your Advertisement</h3>
            <form action="/make-advertisement" method="post">


                <div class="form-group" align="center">
                    <label th:for="title" >Adv Title: </label><br/>
                    <input type="text" th:name="title" th:required="required"/>
                </div>

                <div class="form-group" align="center">
                    <label th:for="description">Adv Description: </label><br/>
                    <input type="comment"  th:name="description" th:required="required"/>
                </div>


                <div class="form-group" th:object="${fields}" align="center">
                    <label th:for="languages" > Select your field </label>
                    <select class="form-control" style="width:150px" id="field" name="field">
                        <option th:each="field : ${fields}"
                                th:value="${field.name}"
                                th:text="${field.name}"></option>
                    </select>
                </div>

                <div class="form-group" align="center">
                    <label th:for="weeklyCapacity" > Weekly capacity (hour/week) </label>
                    <select class="form-control" style="width:150px" id="weeklyCapacity" name="weeklyCapacity">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="form-group" align="center">
                    <label th:for="requestedMoney" > Requested money/hour </label>
                    <input type="number"  th:name="requestedMoney" th:required="required"/>
                </div>

                <div class="form-group" th:object="${cities}" align="center">
                    <label th:for="cities" > Select the City </label>
                    <select class="form-control" style="width:150px" id="city" name="city">
                        <option th:each="city : ${cities}"
                                th:value="${city.name}"
                                th:text="${city.name}"></option>
                    </select>
                </div>

        <input type="submit" class="btn btn-info center-block" value="Submit"/><p></p>
        </form>
        <div th:replace="footer :: copy"></div>
    </body>
</html>