<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact V5</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/ContactFrom_v5/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/bootstrap/css/bootstrap.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/fonts/iconic/css/material-design-iconic-font.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/animate/animate.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/css-hamburgers/hamburgers.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/animsition/css/animsition.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/select2/select2.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/daterangepicker/daterangepicker.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/noui/nouislider.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/css/util.css"/>
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/css/main.css"/>
    <!--===============================================================================================-->
</head>
<body>
<div th:replace="emptyNavbar :: copy"></div>

<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" action="/make-companyProfile" method="post">
				<span class="contact100-form-title">
					Fill your profile
				</span>


            <!-- Enter your company link -->
            <div class="wrap-input100 validate-input bg1" data-validate=" Your URL">
                <span class="label-input100">Company Page *</span>
                <input  th:for="link" th:name="link" th:required="required" class="input100" type="link" name="name" placeholder="Your URL"/>
            </div>
            <!-- end link -->


            <!-- description -->
            <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate = "Description">
                <span th:for="description" class="label-input100">Description</span>
                <textarea th:name="description" th:required="required" class="input100" name="message" placeholder="Your Description here..."></textarea>
            </div>
            <!-- end description -->


            <div class="container-contact100-form-btn">
                <input type="submit" value="Submit" class="contact100-form-btn">
                </input>
            </div>
        </form>
    </div>
</div>



<!--===============================================================================================-->
<script src="/ContactFrom_v5/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/ContactFrom_v5/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/ContactFrom_v5/vendor/bootstrap/js/popper.js"></script>
<script src="/ContactFrom_v5/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/ContactFrom_v5/vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function(){
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });


        $(".js-select2").each(function(){
            $(this).on('select2:close', function (e){
                if($(this).val() == "Please chooses") {
                    $('.js-show-service').slideUp();
                }
                else {
                    $('.js-show-service').slideUp();
                    $('.js-show-service').slideDown();
                }
            });
        });
    })
</script>
<!--===============================================================================================-->
<script src="/ContactFrom_v5/vendor/daterangepicker/moment.min.js"></script>
<script src="/ContactFrom_v5/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/ContactFrom_v5/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/ContactFrom_v5/vendor/noui/nouislider.min.js"></script>
<script>
    var filterBar = document.getElementById('filter-bar');

    noUiSlider.create(filterBar, {
        start: [ 1500, 3900 ],
        connect: true,
        range: {
            'min': 1500,
            'max': 7500
        }
    });

    var skipValues = [
        document.getElementById('value-lower'),
        document.getElementById('value-upper')
    ];

    filterBar.noUiSlider.on('update', function( values, handle ) {
        skipValues[handle].innerHTML = Math.round(values[handle]);
        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
    });
</script>
<!--===============================================================================================-->
<script src="/ContactFrom_v5/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>

<div th:replace="footer :: copy"></div>

</body>
</html>
