<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">


    <div class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <div class="form-inline">
                <a class="navbar-brand" href="/">
                    <img src="/img/tenor.png" alt="logo"/>
                </a>




                <form action="/new-advertisement" method="get">
                    <button type="createNewAdv" align="left" class="btn btn-secondary dropdown-toggle">New advertisement</button>
                </form>

                <form action="/login" method="get">
                    <button type="LogIn" align="left" class="btn btn-secondary dropdown-toggle">Login</button>
                </form>



            </div>
        </div>
    </div>
    <div class="jumbotron text-center">
        <h2>
            Find Your Work With Us
            <small class="text-muted">by Spooks</small>
        </h2>
    </div>

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">Filtering:</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <form class="form-inline" action="/filter" method="get">

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort by:
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" >Top Rated</a>
                            <a class="dropdown-item" >Most Recent</a>
                            <a class="dropdown-item" > -- !! -- </a>
                        </div>
                    </div>

                <li class="nav-item">
                    <select class="form-control" th:object="${cities}" id="filterCity" name="filterCity">
                        <option th:each="cit : ${cities}"
                                th:value="${cit.name}"
                                th:text="${cit.name}"></option>
                    </select>
                </li>

                <li class="nav-item">
                    <select class="form-control" th:object="${fields}" id="filterField" name="filterField">
                        <option th:each="field : ${fields}"
                                th:value="${field.name}"
                                th:text="${field.name}"></option>
                    </select>
                </li>
                    <button type="selectCategory" class="btn btn-secondary dropdown-toggle">Go!</button>
                </form>


            </ul>
        </div>
    </nav>
</div>

</body>
</html>
