<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: copy"></head>
<body>

<div th:replace="navBar :: copy"></div>



<div class="container">
    <div class="row">
        <div class="span12">
            <form class="form-horizontal" action="/authenticateuser" method="post">
                <fieldset>
                    <div id="legend">
                        <legend class="">Login</legend>
                    </div>
                    <div class="control-group">


                        <!-- Username -->
                        <label class="control-label"  for="username">Email</label>
                        <div class="controls">
                            <input type="text" id="username" th:name="eMailAddress" placeholder="email" class="input-xlarge"/>
                        </div>
                    </div>
                    <div class="control-group">


                        <!-- Password-->
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="password" th:name="password" placeholder="password" class="input-xlarge"/>
                        </div>
                    </div>


                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <input type="submit" class="btn btn-info"></input>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>









<div th:replace="footer :: copy"></div>
</body>
</html>