<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/index">Spooks</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/registration">Registration
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!--<a class="nav-link" href="/login">Login</a>-->

                        <a class="nav-link" href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ourTeam">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Services">Our Services</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="login-modal" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Login to Your Account</h1><br/>
                <form>
                    <input th:type="text" th:name="user" placeholder="Username"/>
                    <input th:type="password" th:name="pass" placeholder="Password"/>
                    <input th:type="submit" th:name="login" class="login loginmodal-submit" th:value="Login"/>
                </form>

                <div class="login-help">
                    <a href="/registration">Register</a>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>