<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: copy"></head>

    <body>
    <div th:replace="emptyNavbar :: copy"></div>

            <h3 align="left" >Create your Advertisement</h3>
            <form action="/make-advertisement" method="post">



                <div class="form-group">
                    <label th:for="title" >Title</label>
                    <input size="5" th:name="title" th:required="required" type="text" class="newAdv1" id="title" placeholder="Title"/>
                    <small class="form-text text-muted">please add a clever title to your advertisement.</small>
                </div>

                <div class="form-group">
                    <label th:for="description" >Description</label>
                    <input th:name="description" th:required="required" type="text" class="newAdv2" id="description" placeholder="Description"/>
                </div>

                <div class="form-group" th:object="${fields}">
                    <label th:for="fields">Field</label>
                    <select class="select1" th:id="field" name="field">
                        <option th:each="field : ${fields}"
                            th:value="${field.name}"
                            th:text="${field.name}"></option>
                    </select>
                </div>

                <div class="form-group" th:object="${cities}">
                    <label th:for="cities">Location</label>
                    <select class="select2" th:id="city" name="city">
                        <option th:each="city : ${cities}"
                                th:value="${city.name}"
                                th:text="${city.name}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label th:for="weeklyCapacity">Capacity (hour/week) </label>
                    <input th:required="required" type="number" max="50" class="newAdv3" th:name="weeklyCapacity" th:id="weeklyCapacity" placeholder="Weekly capacity"/>
                </div>

                <div class="form-group">
                    <label th:for="requestedMoney">Salary/hour </label>
                    <input th:required="required" min="600" type="number" th:name="requestedMoney" class="newAdv4" th:id="requestedMoney" placeholder="Salary"/>
                </div>

        <input type="submit" class="btn btn-info center-block" value="Submit"/><p></p>
        </form>


        <div th:replace="footer :: copy"></div>
    </body>
</html>