<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: copy"></head>
<body>

<div th:replace="navBar :: copy"></div>

<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <form role="/registrateuser" method="post" action="/registrateuser">

                <legend class="text-center">Register</legend>
                <fieldset>
                    <legend>Account Details</legend>

                    <div class="form-group col-md-6">
                        <label th:for="name">Full name:</label>
                        <input type="text" class="form-control" th:name="name" placeholder="Full name"/>
                    </div>

                    <div class="form-group col-md-12">
                        <label th:for="email">Email</label>
                        <input type="email" class="form-control" th:name="eMailAddress" placeholder="Email"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label th:for="password">Password</label>
                        <input type="password" class="form-control" th:name="password" placeholder="Password"/>
                    </div>
                </fieldset>


                <fieldset>
                    <div class="form-group col-md-12">
                        <label for="found_site">How did you find out about the site?</label>
                        <select class="form-control" name="" id="found_site">
                            <option>Company</option>
                            <option>Friend</option>
                            <option>Colleague</option>
                            <option>Advertisement</option>
                            <option>Google Search</option>
                            <option>Online Article</option>
                            <option value="other" >Other</option>
                        </select>
                    </div>
                </fieldset>

                <div class="form-group">

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" th:value="regType" th:id="regType"/>
                                 ➡ ︎Registration as a company ⬅︎ <a href="#"></a>
                            </label>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-info">
                            Register
                        </button>

                        <a href="/login">Already have an account?</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div th:replace="footer :: copy"></div>
</div>

<!-- Checkbox Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
<div class="modal-body">
<div class="container">
    <div class='row'>
        <div class="col-sm-12"><h4 class="modal-title my-modal-label">Enter your payment information</h4></div>
        <div class='col-sm-12'> Select your package:</div>
            <label for="sel1" ></label>
            <select class="form-control" id="sel1">
                <option data-icon="glyphicon-heart">Standard</option>
                <option data-icon="glyphicon-heart">Ultimate</option>
                <option data-icon="glyphicon-heart">Mega-Ultimate</option>
            </select>



<!-- payment part at modal -->

        <div class='col-sm-12'>
            <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
            <form accept-charset="UTF-8" action="/companyIndex" class="require-validation" data-cc-on-file="false" data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="payment-form" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
                <div class='form-row'>
                    <div class='col-md-12 form-group required'>
                        <label class='control-label'>Name on Card</label>
                        <input class='form-control' size='4' type='text'/>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='col-md-12 form-group card required'>
                        <label class='control-label'>Card Number</label>
                        <input autocomplete='off' class='form-control card-number' size='20' type='text'/>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='col-md-4 form-group cvc required'>
                        <label class='control-label'>CVC</label>
                        <input autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='4' type='text'/>
                    </div>
                    <div class='col-md-4 form-group expiration required'>
                        <label class='control-label'>Expiration</label>
                        <input class='form-control card-expiry-month' placeholder='MM' size='2' type='text'/>
                    </div>
                    <div class='col-md-4 form-group expiration required'>
                        <label class='control-label'> </label>
                        <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text'/>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='col-md-12'>
                        <div class='form-control total btn btn-info standard-button'>
                            Total:
                            <span class='amount'>$300</span>
                        </div>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='col-md-12 form-group'>
                        <button class='btn btn-info submit-button standard-button' type='submit' id="pay">Pay »</button>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='col-md-12 error form-group hide'>
                        <div class='alert-danger alert'>
                            Please correct the errors and try again.
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class='col-md-4 col-xs-2'></div>
    </div>
</div>
</div> <!--end modal-body-->
<div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>











</body>
</html>