<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/ContactFrom_v5/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/bootstrap/css/bootstrap.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/fonts/iconic/css/material-design-iconic-font.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/animate/animate.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/css-hamburgers/hamburgers.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/animsition/css/animsition.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/select2/select2.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/daterangepicker/daterangepicker.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/vendor/noui/nouislider.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/css/util.css"/>
    <link rel="stylesheet" type="text/css" href="/ContactFrom_v5/css/main.css"/>
    <!--===============================================================================================-->
</head>
<body>
<div th:replace="emptyNavbar :: copy"></div>

<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" action="/make-advertisement" method="post">
				<span class="contact100-form-title">
					Registration
				</span>


            <!-- Enter your Full name -->
            <div class="wrap-input100 validate-input bg1" data-validate=" Full Name">
                <span th:for="name" class="label-input100">Full name *</span>
                <input th:name="name" th:id="name" th:required="required" class="input100" type="text" placeholder="Full name"/>
            </div>
            <!-- end full name -->

            <!-- Enter your Full name -->
            <div class="wrap-input100 validate-input bg1" data-validate="Username">
                <span th:for="username" class="label-input100">Username *</span>
                <input th:name="username" th:id="username" th:required="required" class="input100" type="text" placeholder="Username"/>
            </div>
            <!-- end full name -->


            <!-- Enter your email -->
            <div class="wrap-input100 validate-input bg1" data-validate="Email">
                <span th:for="email" class="label-input100">Email *</span>
                <input   th:name="eMailAddress" th:required="required" class="input100" type="email" placeholder="Email"/>
            </div>
            <!-- end email -->

            <div class="wrap-input100 validate-input bg1" data-validate="Email">
                <span th:for="password" class="label-input100">Password *</span>
                <input   th:name="password" th:required="required" class="input100" type="password" placeholder="Password"/>
            </div>



            <!-- choose your type
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Select your gender">
                <span class="label-input100">Type *</span>
                <div>
                    <select th:for="userRole" th:id="userRole" class="js-select2" name="service">
                        <option> Company </option>
                        <option> Student </option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>
            end choose your type-->

            <div class="container-contact100-form-btn">
                <input type="submit" value="Submit" class="contact100-form-btn">
                </input>
            </div>
        </form>
    </div>
</div>

<div class="form-group">

    <div class="col-md-12">
        <div class="checkbox">
            <label>
                <input type="checkbox" th:value="regType" th:id="regType"/>
                ➡ ︎Registration as a company ⬅︎ <a href="#"></a>
            </label>
        </div>
    </div>

</div>

<div class="form-group">
    <div class="col-md-12">
        <button type="submit" class="btn btn-info">Register</button>
        <!--<a href="/login">Already have an account?</a>-->
    </div>
</div>
</form>
</div>


<!-- Checkbox Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class='row'>
                        <div class="col-sm-12"><h4 class="modal-title my-modal-label">Enter your payment information</h4></div>
                        <div class='col-sm-12'> Select your package:</div>
                        <label for="sel1" ></label>
                        <select class="form-control" id="sel1">
                            <option data-icon="glyphicon-heart">Standard</option>
                            <option data-icon="glyphicon-heart">Ultimate</option>
                            <option data-icon="glyphicon-heart">Mega-Ultimate</option>
                        </select>



                        <!-- payment part at modal -->

                        <div class='col-sm-12'>
                            <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
                            <form accept-charset="UTF-8" action="/companyIndex" class="require-validation" data-cc-on-file="false" data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="payment-form" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
                                <div class='form-row'>
                                    <div class='col-md-12 form-group required'>
                                        <label class='control-label'>Name on Card</label>
                                        <input class='form-control' size='4' type='text'/>
                                    </div>
                                </div>
                                <div class='form-row'>
                                    <div class='col-md-12 form-group card required'>
                                        <label class='control-label'>Card Number</label>
                                        <input autocomplete='off' class='form-control card-number' size='20' type='text'/>
                                    </div>
                                </div>
                                <div class='form-row'>
                                    <div class='col-md-4 form-group cvc required'>
                                        <label class='control-label'>CVC</label>
                                        <input autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='4' type='text'/>
                                    </div>
                                    <div class='col-md-4 form-group expiration required'>
                                        <label class='control-label'>Expiration</label>
                                        <input class='form-control card-expiry-month' placeholder='MM' size='2' type='text'/>
                                    </div>
                                    <div class='col-md-4 form-group expiration required'>
                                        <label class='control-label'> </label>
                                        <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text'/>
                                    </div>
                                </div>
                                <div class='form-row'>
                                    <div class='col-md-12'>
                                        <div class='form-control total btn btn-info standard-button'>
                                            Total:
                                            <span class='amount'>$300</span>
                                        </div>
                                    </div>
                                </div>
                                <div class='form-row'>
                                    <div class='col-md-12 form-group'>
                                        <button class='btn btn-info submit-button standard-button' type='submit' id="pay">Pay »</button>
                                    </div>
                                </div>
                                <div class='form-row'>
                                    <div class='col-md-12 error form-group hide'>
                                        <div class='alert-danger alert'>
                                            Please correct the errors and try again.
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class='col-md-4 col-xs-2'></div>
                    </div>
                </div>
            </div> <!--end modal-body-->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div th:replace="footer :: copy"></div>

</body>
</html>

<!--===============================================================================================-->
<script src="/ContactFrom_v5/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/ContactFrom_v5/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/ContactFrom_v5/vendor/bootstrap/js/popper.js"></script>
<script src="/ContactFrom_v5/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/ContactFrom_v5/vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function(){
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });


        $(".js-select2").each(function(){
            $(this).on('select2:close', function (e){
                if($(this).val() == "Please chooses") {
                    $('.js-show-service').slideUp();
                }
                else {
                    $('.js-show-service').slideUp();
                    $('.js-show-service').slideDown();
                }
            });
        });
    })
</script>
<!--===============================================================================================-->
<script src="/ContactFrom_v5/vendor/daterangepicker/moment.min.js"></script>
<script src="/ContactFrom_v5/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/ContactFrom_v5/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/ContactFrom_v5/vendor/noui/nouislider.min.js"></script>
<script>
    var filterBar = document.getElementById('filter-bar');

    noUiSlider.create(filterBar, {
        start: [ 1500, 3900 ],
        connect: true,
        range: {
            'min': 1500,
            'max': 7500
        }
    });

    var skipValues = [
        document.getElementById('value-lower'),
        document.getElementById('value-upper')
    ];

    filterBar.noUiSlider.on('update', function( values, handle ) {
        skipValues[handle].innerHTML = Math.round(values[handle]);
        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
    });
</script>
<!--===============================================================================================-->
<script src="/ContactFrom_v5/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>


